.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 710px) {
  .header__logo {
    padding: 0 0 0 27px;
    width: 103.74px;
    height: 24.4px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
